Hello, <%= @sender.username %> was send you a replied message on <%= link_to "MyPartner-Site", "http://electric-robot-8555.heroku.com" %> :
<hr/>
<table>
  <tr>
    <th style="text-align: left">Text</th>
    <td>:</td>
    <td><%= @message.text %></td>
  </tr>
</table>
<hr/>
You can check the message <%= link_to  "HERE", "#{@url}" %>