<% if current_user.is_admin %>
<% @create_user_class = "current" %>
  <div id="edit_user">
    <%=  form_tag update_user_path(@user.id),method: :put do %>
      <%= text_field_tag 'user[username]',@user.username, :class => "input" %>
      <%= submit_tag 'Change', :class => "button-primary" %>
      <%= submit_tag 'Back', :url => admin_url, :class => "button-primary" %>
    <%  end %>
  </div>
<% end %>