<h1>My Inbox</h1>
<table>
  <tr>
    <th>Subject</th>
    <th>Date and Time</th>
  </tr>
  <% @messages.each do |message| %>
    <tr>
      <td style="<%= message.readed?(current_user.id) ? "" : "font-weight:bold;" %>"><%= link_to "#{message.subject}", "/reply/#{message.id}" %> </td>
      <td>( <%= message.created_at %> )</td>
    </tr>
  <% end %>
</table>


