
body{margin:0 auto; font-family:Arial, Verdana, Georgia; }

/* This is for page styling, NOT needed for the navigation */
h1{font-size:20px; font-weight:normal;color:#666; margin:10px 10px;}
.footer{ margin:50px auto 10px; auto; font-size:10px; line-height:18px; color:#888;  border-top:1px solid #ddd; padding:5px; background:#eee;}

/*--Nav styling start--*/
/* Main navigation wraper */
#navwrap{margin:0 auto; padding:0;  background:url(nav_bg_sprite.png) top #ffffff repeat-x; background-position:0px -40px; height:20px; padding:5px 10px; border-top:2px solid #BAD3EA; }

/*Navigation menu*/
#nav{font-size:13px; padding-top:2px;}

#nav a{padding:7px 10px 7px 10px; color:#7FB6E6; text-decoration:none; }
#nav a:hover{padding:7px 10px 7px 10px; color:#666; background:url(nav_bg_sprite.png) repeat-x; background-position:0px -70px; text-decoration:none; border-top:2px solid #1A54E1;}

/*For selected item*/
#nav a.current{padding:7px 10px 7px 10px; color:#333; font-weight:bold; background:url(nav_bg_sprite.png) repeat-x; background-position:0px -70px; text-decoration:none; border-top:2px solid #1A54E1;}

/*options menu itemm with icon*/
.optionsmenu{ background:url(nav_bg_sprite.png) no-repeat; background-position:0px 0px; padding:0 5px 0 10px;}

.floatleft{float:left;} /* for the left navigation menu */
.floatright{float:right} /* for the right options navigation menu */
.clear{clear:both;} /* clear all floating, left and right */

/*---End of Nav styling--*/
