<h2>Choose group</h2>
<hr width="35%" />
<table>
  <tr>
    <th>No</th>
    <th colspan="2">Group Name</th>
  </tr>
  <% count = 0 %>
<%- @groups.each do |group| %>
  <tr>
    <td><%= count += 1 %> </td>
    <td style="text-align: left;"><%= group.name %></td>
    <td><%= link_to "Join", join_group_path(group), :method => :post %></td>
  </tr>
<%- end %>
</table>
<hr width="35%" />
Company Name