// Place all the styles related to the Message controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.message {
    text-align: center;
}

.line {
    width: 50%
}

td, th {
    padding: 5px;
    text-align: left;
}

.table_message {
    padding: 5px
}